h2{
    color:lightseagreen;
    
}
#blue{
    color:greenyellow;
}
#Dilki{
    color:pink;
}
#orange{
    color:hotpink;
}
#green{
    color:Green;
}
#Red{
    color:mediumslateblue;
}
.purple{
    color:khaki;
}
.center{
    color:orange !important;
}
.center{
    color:red;
}
h2:hover{
    background-color: black;
    text-decoration: underline;
    text-decoration-style:double;
}